.platform-tab{
    display: flex;
    align-items: center;
    /* margin-bottom: 1.5rem; */
}
.platform-tab-content{
    border: 1px solid #dbdbdb;
    padding: .5rem;
    background-color: #dbdbdb;
    width: 13rem;
    border-radius: 1rem;
    cursor: pointer;
    height: 5.5rem;
    display: flex;
    /* align-items: center; */
}
.platform-name{
    margin-left: 1rem;
    font-size: 1.3rem;
    letter-spacing: 1px;

}
.tab-container{
    /* border: 1px solid #dbdbdb; */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: .5rem;
    /* justify-content: center; */
}
.tab-container h2{
    padding-bottom: 0.5rem;
}

.tab-head{
    display: flex;
    align-items: center;
    margin:2rem 0rem 1.5rem 2rem;
}
.select-platform{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
#window{
    margin-left: 2rem;
}
.link-tab{
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 0.5rem 2rem .5rem 2rem;
    cursor: pointer;
}
#cycle-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-active{
    transition: .4s linear;
    border: 1px solid var(--main-color) ;
    background: rgb(130,175,202);
    color:white;
    
}
.btn{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}







.ticket-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    align-items: center;
    position: relative;
    margin-top: 3rem;
    justify-content: center;
}
.active-card{
    border: 1px solid red;
    background-color: red;
    transition: .4s all ease-in-out;
}
.ticket-card-body{
    background-color: white;
    color: black;
    /* width: 28%; */
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
    /* width: 85%; */
    border: 2px solid #dbdbdb;
    margin-top: 2rem;
    /* padding: 1rem 0rem 1rem 0rem ; */
    position: relative;
    /* border-radius: 1rem; */
}
.ticket-price-content{
    position: absolute;
    background: rgb(130,175,202);
background: linear-gradient(90deg, rgba(129,150,202,1) 0%, rgba(128,176,232,1) 100%);
    /* width: 10rem; */
    transform: translate(-50%,-50%);
    padding: 1rem;
    left: 50%;
    top: 0%;
    color: white;
}
.ticket-active-card{
    text-align: center;
    margin-top: 2rem;
    position: relative;
    cursor: pointer;
    background-color: var(--main-color);
    padding: 1rem 0rem 1rem 0rem ;
    border: 2px solid var(--main-color);
    color: white;
    transition: .4s all ease-in-out;
}
.ticket-button{
    margin:2rem;
}
.ticket-card-body h3{
font-size: 2.3rem;
font-weight: normal;
}
.ticket-footer{
    /* border-top: 1px solid black; */
    margin-top: 5rem;
}

.ticket-footer-body p{
    margin-top: 1rem;
}
@media (max-width:768px) {
.ticket-card-container{
    grid-template-columns: repeat(1,1fr);
    /* gap: 0; */
}
.ticket-card-body{
    width: 100%;
}
}