.footer-section{
    background-color: rgb(29, 29, 29);
    padding-top: 2rem;
}

.cloudstok-footer{
    width: 100%;
    padding: 0 4rem 0 4rem;
    margin: 0 auto 6rem auto;
    display: flex;
    justify-content: space-between;
}

.company-container h3{
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 1.5em;
    color: white;
}
.company-container p{
    font-size: 0.9rem;
    margin: 0.3em;
    color: rgba(248, 248, 248, 0.764);

}
.company-container p:hover{
    cursor: pointer;
    color: #629ffa;
}



.copy-section{
    background-color: black;
}
.copy-footert{
    padding: 1rem 4rem 1rem 4rem;
    
}
.copy-para{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.567);
}


.copy-icon{
    /* margin-top: 3rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy-icon p{
    font-size: 0.9rem;
    font-weight: 300;
    color: white;
}
.icon-box{
    display: flex;
    justify-content: center;
    width: 20%;
    gap: 1rem;
}
.icon-box a{
    display: flex;
    font-size: 1.5rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
   align-items: center;
   justify-content: center;
    color: white;
    border-radius: 2rem;
}
.icon-box a:nth-child(1){
    background-color: #006cff;
}
.icon-box a:nth-child(2){
    background-color: #00acee ;
}


.icon-box a:nth-child(3){
    background-color:#0077b5;
}

@media (max-width:768px) {
    .cloudstok-footer{
  flex-direction: column;
  padding: 1rem;
    }
    .copy-footert{
        padding: 1rem;
        margin: 0;
    }
    .copy-icon{
        flex-direction: column;
    }
    .icon-box{
        width: 80%;
        margin-top: 1rem;
    }
}