.aws {
    font-size: 22px;
    text-align: center;
    margin-top: 2rem;
    align-items: center;
}
.platform-tab{
    align-items: center;
    padding-top: 2rem;
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-left: 35rem;
    /* align-items: center; */
    
}

.platform-tab-content{
    align-items: center;
    border: 1px solid #dbdbdb;
    padding: .5rem;
    background-color: #dbdbdb;
    width: 13rem;
    border-radius: 1rem;
    cursor: pointer;
    height: 5.5rem;
    display: flex;
}
.platform-name{
    align-items: center;
    margin-left: 1rem;
    font-size: 1.3rem;
    letter-spacing: 1px;

}
/* .tab-container{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: .5rem;
}
.tab-container h2{
    padding-bottom: 0.5rem;
} */

.tab-head{
    width: 25%;
    display: flex;
    /* align-items: center; */
    /* margin:2rem 0rem 1.5rem 2rem; */
    margin-top: 3rem;
    margin-left: 37.5rem;
    border: 3px solid skyblue;
}


.select-platform{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
.cloud-support-container{
    padding-top: 5rem;
    text-align: center;
    font-size: 24px;
}
.cloud-support-container p {
    text-align: center;
    padding: 4rem;
    word-spacing: 1px;
    font-size: 22px;
}
#window{
    margin-left: 2rem;
}
.link-tab{
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 0.5rem 2rem .5rem 2rem;
    cursor: pointer;
}
#cycle-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-active{
    transition: .4s linear;
    border: 1px solid var(--main-color) ;
    background: rgb(130,175,202);
    color:white;
    
}
.btn{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
